body {
    background-color: white;

    font-family: 'Roboto', sans-serif;
}


.content{

	padding: 1rem;
	margin: 0 auto;
    min-width: 37.5rem;
}

.top-navigation > .content {
    margin: 0 auto;
    width: 40%;
    height: 12%;
}
.top-navigation .logo {
    height: 70px;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction{
   overflow: auto;
	background-image: url('../images/first-background.jpg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 54.938rem;
	
}

.introduction h1,
.introduction h3 {
   
	text-align: center;
	font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
   
}

.introduction h1{
margin: 10em 0 0em 0;
}
.introduction h3{
margin: 1em 0 3em 0;
}


.big-button{
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	background-color: orange;
	font-size: 16px;
	width: 200px;
	color: white;
	position: center;
	margin: 0 auto;

	margin-bottom: 0 auto;
	display: block;	
}



.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
     

}
.cases .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.cases .devices > li {
    width: 33.3333333%;
    float:left;
     text-decoration: none;
     list-style: none;

}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}


.content-footer{
    border-top: solid 1px #ccc;

    text-align: center;
    height: 15rem;
   
    /*background-color: #34495e;*/
    margin-bottom: 0px;
    margin-top: 0em;
}
.content-footer img {
    margin-top: 4em;
    padding: 0.9em;

    
    }

.content-footer ul li{
    display: inline;
    
}

.social li {
    display: inline;
    letter-spacing: 3em;
}
.copy{

    font-weight: 200px;
    font-size: 0.9rem;
}



